<html>
	
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
<body>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{url_for('showRestaurants')}}">Distraqt
      <a class="navbar-brand" href="#">Blog
<!--       <a class="navbar-brand" href="#">New Block -->
<!--         <img alt="Brand" src="..."> -->
      </a>
    </div>
  </div>
</nav>

	

<!-- 		<div class = 'pane'> -->
		<h1>{{ restaurant.name }}</h1>
		
		{% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    {% if items !=[] %}

<!-- <div class="container content">
<h2>Categories -->

<!-- <a
        <button type="button" class="btn"
        href="{{url_for('newRestaurant')}}">New Category&nbsp;
        <span class="glyphicon glyphicon-plus" aria-hidden="true">
        </span>
        </a></button>
        </h2>

</div> -->


<div>
<a 
	<button type="button" class="btn"
	href = "{{url_for('newMenuItem', restaurant_id = restaurant.id )}}">
	<h2>Create New Item&nbsp;
	<span class="glyphicon glyphicon-plus" aria-hidden="true">
	</span>
	</a></button></h2>
	</br></br>
</div>

		{% for i in items %}
<div class="container-fluid">
	<div class="well well-sm">
		<h4>{{i.name}}</h4>
		<p>{{i.description}}</p>
<a href='#' >Edit</a>
	</br>
	<a href='#' >Delete</a>
	</div>
</div>

<!-- 		<p>{{i.description}}</p> -->
{% endfor %}
<!-- 
	<h2>Appetizers</h2>

		{% for i in items %}
		{% if i.course == 'Appetizer' %}

		<p>{{i.name}}</p>
	

		<p>{{i.description}}</p>
	

		<p>{{i.price}}</p>
	
		<a href='{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id=i.id ) }}' >Edit</a>
	</br>
	<a href='{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id=i.id ) }}' >Delete</a>
</br>
</br>
		{% endif %}

		{% endfor %}

		

		</br></br>

	<h2>Entrees</h2>

		{% for i in items %}
		{% if i.course == 'Entree' %}

		<p>{{i.name}}</p>
	

		<p>{{i.description}}</p>
	

		<p>{{i.price}}</p>
	
		<a href='{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id=i.id ) }}' >Edit</a>
	</br>
	<a href='{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id=i.id ) }}' >Delete</a>
</br>
</br>
        {% endif %}

		{% endfor %}
		
		

		</br></br>

	<h2>Desserts</h2>

		{% for i in items %}
		{% if i.course == 'Dessert' %}

		<p>{{i.name}}</p>
	

		<p>{{i.description}}</p>
	

		<p>{{i.price}}</p>
	
		<a href='{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id=i.id ) }}' >Edit</a>
	
	<a href='{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id=i.id ) }}' >Delete</a>
</br>
</br>
		{% endif %}

		{% endfor %}
		
		

		</br></br>

	<h2>Beverages</h2>

		{% for i in items %}
		{% if i.course == 'Beverage' %}

		<p>{{i.name}}</p>
	 -->
<!-- 
		<p>{{i.description}}</p>
	

		<p>{{i.price}}</p>

		<a href='{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id=i.id ) }}' >Edit</a>
	</br>
	<a href='{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id=i.id ) }}' >Delete</a>
</br>
</br>
{% endif %} -->
<!-- 
		{% endfor %} -->
		
		

		{% else %}
<div>
<a 
	<button type="button" class="btn"
	href = "{{url_for('newMenuItem', restaurant_id = restaurant.id )}}">
	<h2>Create New Item&nbsp;
	<span class="glyphicon glyphicon-plus" aria-hidden="true">
	</span>
	</a></button></h2>
	</br></br>
</div>
			{% endif %}
</div>
	</body>

</html>

	</body>
{% block footer %}
      <footer>
        <hr />
        <p>Ari Akerstein, &copy; 2015</p>
      </footer>
{% endblock %}
</html>