<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
      </head>
<body>

<!-- <div class="container content"> -->
<div class = 'pane'>
<!-- <div class="jumbotron"> -->

<h1>New flow block</h1>

<form action="#" method = 'post'>

      <p>Name:</p>
            <input type ='text' size='30' name='name' placeholder="What's flowing?">
      <p>Notes: </p>
            <input type ='text' size='30' name='description' placeholder="What are you working on?" style="height: 60px">
      <p>Price:</p>
            <input type ='text' size='30' name='price'>
      <p>Course:</p>
            <input type ='radio'  name='course' value ='Appetizer'>Appetizer</br>
            <input type ='radio'  name='course' value ='Entree'>Entree</br>
            <input type ='radio' name='course' value ='Dessert'>Dessert</br>
            <input type ='radio'  name='course' value ='Beverage'>Beverage</br>
      </br>


<input type='submit' value='Create'>

<!-- </div> -->
</div>

</form>

</body>
</html>