<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	</head>


<body>

<!--facebook sdk integration-->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1663356297265863',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<!--end facebook sdk integration-->

<div class = 'pane'>
<h1>Distraqt</h1>

<a href="{{url_for('newRestaurant')}}" > <h3> Create a New Restaurant (Category)</h3> </a>

{% for restaurant in restaurants %}



<a href = "{{url_for('showMenu', restaurant_id = restaurant.id)}}"> <p>{{restaurant.name}}</p></a>

<p><a href = "{{url_for('editRestaurant',restaurant_id = restaurant.id)}}">Edit Restaurant</a></p>

<p> <a href = "{{url_for('deleteRestaurant',restaurant_id = restaurant.id)}}">Delete Restaurant</a> </p>


{% endfor %}

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>

</div>
</div>
</body>

</html>