<html>
	
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
<body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav>
<!--         <h3 class="text-muted">Distraqt</h3> -->
      </div>

      <div class="jumbotron">
        <h1>Distraqt</h1>
        <p class="lead">Focus your attention; achieve greatness</p>
        <p><a class="btn btn-lg btn-success" href="{{url_for('showLogin')}}" role="button">Sign up today</a></p>
<!--         <a class="navbar-brand" href="{{url_for('showLogin')}}">Login&nbsp; -->
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Hold my slacks</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Hold my texts</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Track your flows</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>Capture your notes</h4>
          <p>Don't lose track of all the goodness. Sync with Evernote (premium).</p>

          <h4>Track your flow time</h4>
          <p>Get stats on your performance over time. Understand how you work so you can plan better in the future.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

{% block footer %}
      <footer>
        <hr />
        <p>Ari Akerstein, &copy; 2015</p>
      </footer>
{% endblock %}

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

