<html>
	
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-1.11.0.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/masonry.pkgd.min.js') }}"></script>
	</head>
<body>

<!-- { % navbar %} -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{url_for('showRestaurants')}}">Distraqt </a>
<!--       <a class="navbar-brand" href="#">Weekly Planner
      <a class="navbar-brand" href="#">Blog -->
      {% if 'username' in login_session %}
      <a class="navbar-brand" href="{{url_for('gdisconnect')}}">Logout&nbsp; </a>
      {% endif %} 
      {% if 'username' not in login_session %}
      <a class="navbar-brand" href="{{url_for('showLogin')}}">Login&nbsp; </a>
      {% endif %} 


      {% if loginPicUrl %} 
      <img class="navbar-brand" src="{{loginPicUrl}}" />
      {% endif %} 
<!--       <a class="navbar-brand" href="#">New Block -->
<!--         <img alt="Brand" src="..."> -->
      </a>
    </div>
  </div>
</nav>
<!-- { % navbar %} -->
<!--         <h3 class="text-muted">Distraqt</h3> -->
      </div>

  <div class="container-fluid">
      <div class="jumbotron">
        <h1>Distraqt</h1>
        <p class="lead">Find your flow</p>
        <p><a class="btn btn-lg btn-success" href="{{url_for('showLogin')}}" role="button">Sign up</a></p>
<!--         <a class="navbar-brand" href="{{url_for('showLogin')}}">Login&nbsp; -->
      </div>

<!-- MARKETING MUMBO JUMBO BELOW -->
<!--       <div class="row marketing">
        <div class="col-lg-6">
          <h4>Hold my slacks</h4>
          <p>Your personal assistant on Slack - stop getting interrupted by your productivity tools!</p>

          <h4>Hold my texts</h4>
          <p>Calls route to VM unless it's urgent - </p>

          <h4>Track your flows</h4>
          <p>Categorize flows by project so you know you're spending time on the right things. </p>
        </div>

        <div class="col-lg-6">
          <h4>Capture your notes</h4>
          <p>Don't lose track of all the goodness. Sync with Evernote (premium).</p>

          <h4>Track your flow time</h4>
          <p>Get stats on your performance over time. Understand how you work so you can plan better in the future.</p>

          <h4>Set goals and stay accountable</h4>
          <p>Set goals and find partners to hold you accountable (soon).</p>
        </div>
      </div>
</div> -->
{% block footer %}
      <footer>
        <hr />
        <p>Ari Akerstein, &copy; 2015</p>
      </footer>
{% endblock %}

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78290316-1', 'auto');
  ga('send', 'pageview');

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78290316-1', 'auto');
  ga('send', 'pageview');

</script>